In [31]:
# Importing data
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("Refugee_Asylum_data.csv")
df.head()

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,Returned refugees,IDPs of concern to UNHCR,Returned IDPss,Stateless persons,Others of concern,Other people in need of international protection,Host Community
0,2019,Afghanistan,Afghanistan,0,0,0,2553390,0,0,447093,NaN,0
1,2019,Afghanistan,Egypt,28,36,0,0,0,0,0,NaN,0
2,2019,Afghanistan,Argentina,12,0,0,0,0,0,0,NaN,0
3,2019,Afghanistan,Armenia,5,0,0,0,0,0,0,NaN,0
4,2019,Afghanistan,Australia,11585,1710,0,0,0,0,0,NaN,0

In [32]:
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,Returned refugees,IDPs of concern to UNHCR,Returned IDPss,Stateless persons,Others of concern,Other people in need of international protection,Host Community
0,2019,Afghanistan,Afghanistan,0,0,0,2553390,0,0,447093,NaN,0
1,2019,Afghanistan,Egypt,28,36,0,0,0,0,0,NaN,0
2,2019,Afghanistan,Argentina,12,0,0,0,0,0,0,NaN,0
3,2019,Afghanistan,Armenia,5,0,0,0,0,0,0,NaN,0
4,2019,Afghanistan,Australia,11585,1710,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0,0,0,0,NaN,0
34596,2024,Zimbabwe,Thailand,5,0,0,0,0,0,0,NaN,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0,0,0,0,NaN,0
34598,2024,Zimbabwe,Zambia,10,11,0,0,0,0,0,NaN,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,0,0,0,128,NaN,0

In [33]:
# checking if we have duplicates and droping them
df.drop_duplicates()

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,Returned refugees,IDPs of concern to UNHCR,Returned IDPss,Stateless persons,Others of concern,Other people in need of international protection,Host Community
0,2019,Afghanistan,Afghanistan,0,0,0,2553390,0,0,447093,NaN,0
1,2019,Afghanistan,Egypt,28,36,0,0,0,0,0,NaN,0
2,2019,Afghanistan,Argentina,12,0,0,0,0,0,0,NaN,0
3,2019,Afghanistan,Armenia,5,0,0,0,0,0,0,NaN,0
4,2019,Afghanistan,Australia,11585,1710,0,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0,0,0,0,NaN,0
34596,2024,Zimbabwe,Thailand,5,0,0,0,0,0,0,NaN,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0,0,0,0,NaN,0
34598,2024,Zimbabwe,Zambia,10,11,0,0,0,0,0,NaN,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,0,0,0,128,NaN,0

In [34]:
# dropping columns we do need
df = df.drop(columns = "Returned refugees")
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Returned IDPss,Stateless persons,Others of concern,Other people in need of international protection,Host Community
0,2019,Afghanistan,Afghanistan,0,0,2553390,0,0,447093,NaN,0
1,2019,Afghanistan,Egypt,28,36,0,0,0,0,NaN,0
2,2019,Afghanistan,Argentina,12,0,0,0,0,0,NaN,0
3,2019,Afghanistan,Armenia,5,0,0,0,0,0,NaN,0
4,2019,Afghanistan,Australia,11585,1710,0,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0,0,0,NaN,0
34596,2024,Zimbabwe,Thailand,5,0,0,0,0,0,NaN,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0,0,0,NaN,0
34598,2024,Zimbabwe,Zambia,10,11,0,0,0,0,NaN,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,0,0,128,NaN,0

In [35]:
df = df.drop(columns = "Stateless persons")
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Returned IDPss,Others of concern,Other people in need of international protection,Host Community
0,2019,Afghanistan,Afghanistan,0,0,2553390,0,447093,NaN,0
1,2019,Afghanistan,Egypt,28,36,0,0,0,NaN,0
2,2019,Afghanistan,Argentina,12,0,0,0,0,NaN,0
3,2019,Afghanistan,Armenia,5,0,0,0,0,NaN,0
4,2019,Afghanistan,Australia,11585,1710,0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0,0,NaN,0
34596,2024,Zimbabwe,Thailand,5,0,0,0,0,NaN,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0,0,NaN,0
34598,2024,Zimbabwe,Zambia,10,11,0,0,0,NaN,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,0,128,NaN,0

In [36]:
df = df.drop(columns = "Returned IDPss")
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern,Other people in need of international protection,Host Community
0,2019,Afghanistan,Afghanistan,0,0,2553390,447093,NaN,0
1,2019,Afghanistan,Egypt,28,36,0,0,NaN,0
2,2019,Afghanistan,Argentina,12,0,0,0,NaN,0
3,2019,Afghanistan,Armenia,5,0,0,0,NaN,0
4,2019,Afghanistan,Australia,11585,1710,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0,NaN,0
34596,2024,Zimbabwe,Thailand,5,0,0,0,NaN,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0,NaN,0
34598,2024,Zimbabwe,Zambia,10,11,0,0,NaN,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,128,NaN,0

In [37]:
df = df.drop(columns = "Other people in need of international protection")
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern,Host Community
0,2019,Afghanistan,Afghanistan,0,0,2553390,447093,0
1,2019,Afghanistan,Egypt,28,36,0,0,0
2,2019,Afghanistan,Argentina,12,0,0,0,0
3,2019,Afghanistan,Armenia,5,0,0,0,0
4,2019,Afghanistan,Australia,11585,1710,0,0,0
...,...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0,0
34596,2024,Zimbabwe,Thailand,5,0,0,0,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0,0
34598,2024,Zimbabwe,Zambia,10,11,0,0,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,128,0

In [38]:
df = df.drop(columns = "Host Community")
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern
0,2019,Afghanistan,Afghanistan,0,0,2553390,447093
1,2019,Afghanistan,Egypt,28,36,0,0
2,2019,Afghanistan,Argentina,12,0,0,0
3,2019,Afghanistan,Armenia,5,0,0,0
4,2019,Afghanistan,Australia,11585,1710,0,0
...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0
34596,2024,Zimbabwe,Thailand,5,0,0,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0
34598,2024,Zimbabwe,Zambia,10,11,0,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,128

In [39]:
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern
0,2019,Afghanistan,Afghanistan,0,0,2553390,447093
1,2019,Afghanistan,Egypt,28,36,0,0
2,2019,Afghanistan,Argentina,12,0,0,0
3,2019,Afghanistan,Armenia,5,0,0,0
4,2019,Afghanistan,Australia,11585,1710,0,0
...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0
34596,2024,Zimbabwe,Thailand,5,0,0,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0
34598,2024,Zimbabwe,Zambia,10,11,0,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,128

In [40]:
df.info

<bound method DataFrame.info of        Year Country of origin         Country of asylum  \
0      2019       Afghanistan               Afghanistan
1      2019       Afghanistan                     Egypt
2      2019       Afghanistan                 Argentina
3      2019       Afghanistan                   Armenia
4      2019       Afghanistan                 Australia
...     ...               ...                       ...
34595  2024          Zimbabwe               Switzerland
34596  2024          Zimbabwe                  Thailand
34597  2024          Zimbabwe  United States of America
34598  2024          Zimbabwe                    Zambia
34599  2024          Zimbabwe                  Zimbabwe

       Refugees under UNHCR's mandate  Asylum-seekers  \
0                                   0               0
1                                  28              36
2                                  12               0
3                                   5               0
4                               11585            1710
...                               ...             ...
34595                               9               6
34596                               5               0
34597                             676            3037
34598                              10              11
34599                               0               0

       IDPs of concern to UNHCR  Others of concern
0                       2553390             447093
1                             0                  0
2                             0                  0
3                             0                  0
4                             0                  0
...                         ...                ...
34595                         0                  0
34596                         0                  0
34597                         0                  0
34598                         0                  0
34599                         0                128

[34600 rows x 7 columns]>

In [41]:
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern
0,2019,Afghanistan,Afghanistan,0,0,2553390,447093
1,2019,Afghanistan,Egypt,28,36,0,0
2,2019,Afghanistan,Argentina,12,0,0,0
3,2019,Afghanistan,Armenia,5,0,0,0
4,2019,Afghanistan,Australia,11585,1710,0,0
...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0
34596,2024,Zimbabwe,Thailand,5,0,0,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0
34598,2024,Zimbabwe,Zambia,10,11,0,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,128

In [42]:
df.describe()

,Year,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern
count,34600.000000,3.460000e+04,34600.000000,3.460000e+04,3.460000e+04
mean,2021.576416,4.492106e+03,960.869855,9.566760e+03,7.482390e+02
std,1.705930,7.118794e+04,10986.811413,2.081691e+05,3.172753e+04
min,2019.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
25%,2020.000000,5.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,2022.000000,1.200000e+01,10.000000,0.000000e+00,0.000000e+00
75%,2023.000000,8.225000e+01,80.000000,0.000000e+00,0.000000e+00
max,2024.000000,3.752317e+06,620074.000000,1.054022e+07,3.206577e+06

In [44]:
# checking for total missing values
df.isnull().sum()

Year                              0
Country of origin                 0
Country of asylum                 0
Refugees under UNHCR's mandate    0
Asylum-seekers                    0
IDPs of concern to UNHCR          0
Others of concern                 0
dtype: int64

In [45]:
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern
0,2019,Afghanistan,Afghanistan,0,0,2553390,447093
1,2019,Afghanistan,Egypt,28,36,0,0
2,2019,Afghanistan,Argentina,12,0,0,0
3,2019,Afghanistan,Armenia,5,0,0,0
4,2019,Afghanistan,Australia,11585,1710,0,0
...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0
34596,2024,Zimbabwe,Thailand,5,0,0,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0
34598,2024,Zimbabwe,Zambia,10,11,0,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,128

In [49]:
df[df.Year >1]

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern
0,2019,Afghanistan,Afghanistan,0,0,2553390,447093
1,2019,Afghanistan,Egypt,28,36,0,0
2,2019,Afghanistan,Argentina,12,0,0,0
3,2019,Afghanistan,Armenia,5,0,0,0
4,2019,Afghanistan,Australia,11585,1710,0,0
...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0
34596,2024,Zimbabwe,Thailand,5,0,0,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0
34598,2024,Zimbabwe,Zambia,10,11,0,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,128

In [51]:
df.to_csv('Year-filtered.csv')

In [52]:
df

,Year,Country of origin,Country of asylum,Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Others of concern
0,2019,Afghanistan,Afghanistan,0,0,2553390,447093
1,2019,Afghanistan,Egypt,28,36,0,0
2,2019,Afghanistan,Argentina,12,0,0,0
3,2019,Afghanistan,Armenia,5,0,0,0
4,2019,Afghanistan,Australia,11585,1710,0,0
...,...,...,...,...,...,...,...
34595,2024,Zimbabwe,Switzerland,9,6,0,0
34596,2024,Zimbabwe,Thailand,5,0,0,0
34597,2024,Zimbabwe,United States of America,676,3037,0,0
34598,2024,Zimbabwe,Zambia,10,11,0,0
34599,2024,Zimbabwe,Zimbabwe,0,0,0,128

In [56]:
df.to_csv('Refugees_CleanedData.csv')